.flight-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__selection {
    mat-form-field {
      margin: 10px;
    }
  }
  &__type-currency {
    mat-form-field {
      margin: 10px;
    }
    display: flex;
    justify-content: space-between;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
